@model PletiTedyPleti.Models.Category

@{
    ViewBag.Categoties = "Details";
}

<h4>Категория</h4>

<div>
    <h2>@Html.DisplayFor(model => model.name)</h2>
 
    @*<div class="row">
        @foreach (var post in ViewBag.Posts)
        {
            <div class="col-md-3">
                <div>
                   @if(post.Category == Html.DisplayFor(model => model.name))
                    {
                    <a href="~/Views/Posts/Details/@post.Id">@post.name</a>
                    <div>
                        <img src="@Html.DisplayFor(model => model.adress)" />
                    </div>
                   }
                  </div>
            </div>
        }
    </div>*@ 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink("Back to List", "Index")
</p>
