@model PletiTedyPleti.Models.Comment

@{
    ViewBag.Title = "Create";
}

<h2>Коментари</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <h4>Добави коментар</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="">
            <div class="">
                @Html.TextBoxFor(model => model.Body, new { style = "width: 10000px; height: 100px" } )
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="">
            <div class="">
                @Html.DropDownList("PostId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PostId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="">
            <div class="">
                <input type="submit" value="Добави" class="btn btn-default" />
            </div>
        </div>
    </div>

    //if (IsPost)
    //{
    //    Html.RenderAction("Details", "Posts", new { id = ViewBag.PostIdNumber });

    //}
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


