@using PletiTedyPleti.Controllers
@using PletiTedyPleti.Models
@model PletiTedyPleti.Models.Comment

@{
    ViewBag.Title = "Delete";
}

<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете това?</h3>
<div>
    <h4>Коментар</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Автор: </span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>

        <dt>
            <span>Съдържание: </span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            <span>Дата: </span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-default" /> |
            @Html.ActionLink("Обратно към поста", "Details", "Posts", new { id = Model.PostId}, null)
        </div>
    }
</div>
