@model PletiTedyPleti.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Детайли</h2>

<div>
    <h4>Коментар</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Автор: </span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>

        <dt>
            <span>Съдържание: </span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            <span>Дата: </span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирай", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Обратно към поста", "Details", "Posts", new { id = Model.PostId }, null)
</p>
