@using System.Collections
@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@using PletiTedyPleti.Models
@model PletiTedyPleti.Classes.CategoriesViewCombination

@{
    ViewBag.Title = "Details";
}

<h2>@Model.PostsCollection.FirstOrDefault().Title</h2>

<div>
    <hr />
    <div class="dl-horizontal">
        @foreach (var img in Model.ImagesCollection)
        {
            <div class="col-md-4">
                <div class="detail">
                    @if (img.name == Model.PostsCollection.FirstOrDefault().Title)
                    {
                        <img src="@img.adress" alt="@img.name" />
                    }
                </div>
            </div>
        }
        <br />
        <div>

            @Model.PostsCollection.FirstOrDefault().Body
        </div>
        <div>

            @Model.PostsCollection.FirstOrDefault().Date
        </div>
        <dl>
            <dt>
                <span>Тагове </span>
            </dt>

            <dd>
                @foreach (var tag in Model.PostsCollection.FirstOrDefault().Tags)
            {
                    <span class="tags">
                        <a href="/Posts/DisplayTagSearchResults/@tag.Id">@tag.Name</a>
                    </span>
                }
            </dd>
        </dl>
    </div>
    <div>
         Харесано: @Model.PostsCollection.FirstOrDefault().LikeCounter пъти
    </div>
    <p class="footer">
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Харесай", "LikeCounter", new { Id = Model.PostsCollection.FirstOrDefault().Id})
    </p>

    <div>

        @if (User.Identity.GetUserId() != null)
        {
            Html.RenderAction("Create", "Comments", new { Id = Model.PostsCollection.FirstOrDefault().Id });
        }
        <br/>

        @if (User.Identity.GetUserId() == null)
        {
            @Html.ActionLink("Напиши коментар---->", "Login", "Account", new {@returnUrl = "/Posts/Details/" + @Model.PostsCollection.FirstOrDefault().Id}, null)
        }

        <br/>
        @{
            Html.RenderAction("Index", "Comments", new {id = Model.PostsCollection.FirstOrDefault().Id});
        }

        <br/>



    </div>
</div>
