@using System.Collections
@using System.Web.Mvc.Html
@using PletiTedyPleti.Models
@model PletiTedyPleti.Controllers.Combination

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.LikeCounter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.LikeCounter)
        </dd>

        <dt>
            <span>Тагове </span>
        </dt>

        <dd>
            @foreach (var tag in Model.Post.Tags)
            {
                <span class="tags">
                    <a href="/Posts/DisplayTagSearchResults/@tag.Id">@tag.Name</a>
                </span>
            }
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.Post.Id}) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <div>
        @Html.Partial("~/Views/Comments/Index.cshtml", Model.CommentsCollection);

    </div>

    <div>

    </div>
</div>

