@using System.Collections
@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@using PletiTedyPleti.Models
@model PletiTedyPleti.Controllers.Combination

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayNameFor(model => model.Post.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post.LikeCounter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.LikeCounter)
        </dd>

        <dt>
            <span>Тагове </span>
        </dt>

        <dd>
            @foreach (var tag in Model.Post.Tags)
            {
                <span class="tags">
                    <a href="/Posts/DisplayTagSearchResults/@tag.Id">@tag.Name</a>
                </span>
            }
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

    <div>
        @if (User.Identity.GetUserId() != null)
        {
            Html.RenderAction("Create", "Comments", new { Id = Model.Post.Id });
        }
               
        <br />
        @{
            Html.RenderAction("Index", "Comments", new { id = Model.Post.Id });
        }
    </div>
</div>
