using PletiTedyPleti.Classes;
@model IEnumerable<PletiTedyPleti.Models.Post>


@{
    ViewBag.Title = "Index";
}

<h2>Галерия</h2>

<p>@if (User.IsInRole("Administrators"))
{
    @Html.ActionLink("Create New", "Create")
}
</p>
<table class="table">
    <tr>
        <th>
            <a class="postIndexA">Снимка</a>
        </th>
        <th>
           <a class="postIndexA">Наименование</a>
        </th>
        <th>
            <a class="postIndexA">Съдържание</a>
        </th>
        <th>
            <a class="postIndexA">Харесвания</a>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="postIndexTd">
            @Html.DisplayFor(modelItem => item.Images)
        </td>
        <td class="postIndexTd">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
            @Html.ActionLink("Подробности", "Details", "Posts", new { id = item.Id }, null)
        </td>
        <td class="postIndexTd">
            @Html.DisplayFor(modelItem => item.LikeCounter)
        </td>
        <td class="postIndexTd">
            @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Edit", "Edit", "Posts", new { id = item.Id }, null) @:|
                @Html.ActionLink("Delete", "Delete", "Posts", new { id = item.Id }, null) @:|
            }
            <br/>
            @Html.ActionLink($"{item.Comments.Count} коментара", "Details","Posts", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
